nav {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: #90a0d9;
  text-decoration: none;
}
ul a {
  color: #bdbddd;
  margin-inline: 10px;
}
